.carousel-item img {
    width: auto;
    max-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}
